<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header class="header">
  <nav class="nav">
    <div class="rightSide"><a class="logo" [routerLink]="['/']">Brand</a></div>
    <div class="leftSide">
      <a
        class="navLink"
        [routerLink]="['/review']"
        routerLinkActive="naveLink-active"
        >review</a
      >
      <a
        class="navLink"
        [routerLink]="['/comments']"
        routerLinkActive="naveLink-active"
        >comments</a
      >
    </div>
  </nav>
</header>
<main><router-outlet></router-outlet></main>
<footer class="footer"><span>COPY RIGHT</span></footer>
